html, body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  scroll-behavior: smooth;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background-position: 0px 0px;
  top: 0;
}
.container {
  flex: 1;
  max-width: 100vw;
  padding-left: 0;
  padding-right: 0;
}
// .container a {
//   padding-left: 5px;
//   padding-right: 5px;
// }
.section {
  width: 100%;
  height: 100vh;
  background-image: url("/images/header_img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 3px 5px rgba(254, 67, 101, 0.5);
}
.section_all {
  width: 100%;
  height: 30vh;
  background-image: url("/images/header_img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 3px 5px rgba(254, 67, 101, 0.3);
}
.back-light {
 background-color: #ecedf1;
}

.back-dark {
  background-color: rgba(49, 72, 104, 0.9);
}

.title {
  font-size: 4rem;
  font-family: 'Rajdhani', sans-serif;
}

.logo{
  font-family: 'Gugi', cursive;
  font-size: 1.5rem;
  color: #FE4365;
}
.logo:hover {
  color: #FE4365;
  text-decoration: none;
}

.main{
  flex: 1;
  width: 80%;
  margin: auto;
}

.button {
  display: block;
  position: relative;
  left: 50%;
  top: 40%;
  height: auto;
  padding: 0.5rem;
  width: 15rem;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  border: #fff solid 0.2rem;
  background-color: rgb(228, 131, 149);
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transform: translateX(-50%);
  box-shadow: -3px 3px 10px rgba(0,0,0,0.3) !important;
}

.button:hover {
  border-color: rgb(228, 131, 149);
  text-decoration: none;
  color: #fff;
}

.footer{
  flex-shrink: 0;
  background-color: rgb(49, 72, 104, 0.9);
  color: #fff;
  bottom: 0px;
  // box-shadow: 0 -3px 5px rgba(53, 92, 125, 0.5);
}

.footer-bottom p {
  color: #fff !important;
  text-align: start;
  font-size: 1rem;
}

.footer-upper{
  position: relative;
  padding: 0px;
  object-fit: cover;
  width: 100%;
  height: 50vh;
  background-color: rgb(236, 169, 181);
  /* -webkit-filter: blur(0.5px);
  filter: blur(0.5px); */
}

.footer-upper h1 {
  font-size: 3rem;
  color: #fff;
  position:absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
} 

.split.center {
  position: absolute;
  width: 33.3%;
  height: 100%;
  overflow: hidden;
  left: 33.3%;
  background-color: rgb(236, 169, 181);
  transition: 1000ms all ease-in-out;
  z-index: 0;
}

.split.left {
  position: absolute;
  width: 33.3%;
  height: 100%;
  overflow: hidden;
  left: 0;
  background-color: #fff;
  transition: 1000ms all ease-in-out;
  z-index: 2;
}

.split.right {
  position: absolute;
  width: 33.3%;
  height: 100%;
  overflow: hidden;
  right: 0;
  background-color: rgb(118, 151, 180); 
  transition: 1000ms all ease-in-out;
  z-index: 2;
}

.hover-left .left {
  width: 40%;
}
.hover-right .right {
   width: 40%;
}
.hover-center .center {
  width: 33.3%;
  z-index: 3;
  transition: 1000ms all ease-in-out;
}

.hover-center .left {
  width: 30%;
}

.hover-center .right {
  width: 30%;
}




.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(53, 92, 125, 0.8);
  padding: 10px 80px;
  border-radius: 5px;
}



td, th {
  color: #314455;
  text-align: center;
  vertical-align: middle;
}
.title {
  color: #FE4365;
  font-size: 5rem;
  -webkit-animation-name: title; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  animation-name: title;
  animation-duration: 3s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes title {
from {color: #fff;}
to {color: #FE4365;}
}

/* Standard syntax */
@keyframes title {
from {color: #fff;}
to {color: #FE4365;}
}

h1, h2, h3, h4, h5, h6{
  color: #355C7D;
  font-family: 'Rajdhani', sans-serif;
} 

p {
  color: black !important;
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;;
}

.fab {
  color: #FE4365;
  font-size: 18px;
}
.fab:hover {
  color: #355C7D;
  font-size: 18px;
}

.service-title {
  color: rgb(224, 112, 133);
}

.footer-head {
  color: #fff;
}
.proposal {
  display: block;
  padding: 6px 12px;
  border-radius: 2px;
  background-color: rgb(228, 131, 149);
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.proposal:hover {
  color: #fff;
  border: 1px solid rgb(228, 131, 149);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.proposal-small {
  display: block;
  font-size: 16px;
  padding: 4px 8px;
  border-radius: 5px;
  background-color: rgb(228, 131, 149);
  color: #fff;
  border: 5px solid #fff;
}
.proposal-small:hover {
  border: 5px solid rgb(228, 131, 149);
  color: #fff;
}


/******* TIMELINE ********/
#timeline h3, h4{
  color: #fff;
}

#timeline p {
  color: #fff !important;
}

/******* PLANS ********/
.bg {
  width: 20vw;
  height: auto;
  margin: 0 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid rgba(49, 72, 104, 0.9);
  box-shadow: -3px 3px 10px rgba(0,0,0,0.3);
}
.bg1 {
  background-image: url("/images/plan1.png");
}
.bg2 {
  background-image: url("/images/plan2.png");
}
.bg3 {
  background-image: url("/images/plan3.png");
}


/******* BIG FORM ********/
.project_plan {
  background-color: rgba(254, 67, 101, 0.1);
}
.project_intro{
  width: 70%;
  margin: auto;
}
.btn {
  background-color: rgb(228, 131, 149);
  color: #fff;
  border: solid #fff 2px;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.3rem 0.6rem !important;
}
.btn:hover {
  color: #fff;
  border: solid rgb(228, 131, 149) 2px;
  border-radius: 5px;
}
.promo {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: 45px; 
  color: #fff;
  background-color: #FE4365;
  border: solid 2px #FE4365;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 7px;
  text-align: center;
}
.promo:hover {
  border: solid 2px #FE4365;
  background-color: #fff;
  color: #FE4365;
}
.privacy-link {
  color: #FE4365;
}
.privacy-link:hover {
  text-decoration: underline;
}
.privacy h4 {
  padding-top: 20px;
  padding-bottom: 10px;
}


/******* GO TO TOP BUTTON ********/
.gotop {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FE4365;
  bottom: 40px;
  right: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  text-align: center;
}


/****** HEADER AND NAVBAR ******/
.header-fix {
  width: 80vw;
  margin-top: 15%;
} 
.header-fix-all .title{
  font-size: 4rem;
} 

.navbar {
  position: relative;
  z-index: 100;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 3px 5px rgba(254, 67, 101, 0.5);
  background-color: #fff;
}

.nav-link-fixed {
  color: #FE4365 !important;
}

.nav-link-small-fixed {
  font-size: 0.9rem;
  color: #FE4365 !important;
  background-color: #fff;
}
.nav-link-small-fixed:hover {
  background-color: #fff !important;
}

.nav-item {
  cursor: pointer;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2rem;
}

.nav-item:hover {
  border-radius: 5px;
}

.nav-link {
  color: #FE4365;
  font-weight: 600;
}
.nav-link:hover {
  color: #FE4365;
}
.nav-link-small {
  font-size: 1rem;
  color: #FE4365;
  font-weight: 600;
}
.nav-link-small:hover {
  background-color: transparent;
  color: #FE4365;
}
.nav-page{
  color: #355C7D;
}
.nav-page:hover{
  color: #FE4365;
}
.fa, .fab {
  color: #fff;
}

.fab {
  font-size: 1.5rem;
}
.fab:hover {
  color: #FE4365;
  font-size: 1.5rem;
}

.text-blue {
  color: #355C7D;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  transition: 300ms all ease;
  }

.navbar-default .navbar-toggle {
  border-color: transparent;
} 

.fa-bars {
  color: #FE4365;;
}
.fa-bars:hover {
  color: #355C7D;
}
.dropdown-menu {
  border-color: #FE4365;
  margin-left: 10px;
  border-radius: 10px;
  background-color: transparent;
}
.mydropdowncss:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: transparent;
 }


/******* CARD ********/
.cards {
  margin: 10px;
  width: 30%;
  border: 1px solid #FE4365;
  border-radius: 2%;
}
.cards:hover {
  background-color: rgba(118, 151, 180, 0.1);
}

.card-body h4 {
  color: #314455;
}


/******* SKILLS ********/
.skill {
  display: flex;
}
.skills {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #FE4365;
  padding-right: 5px;
}

.list {
  width: 60%;
  margin-left: 20px;
}

.list li {
  text-align: left;
  padding: 5px !important;
}


/******* TRANSITIONS ********/
.big {
  display: block;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
}

.big:hover {
  transform: rotate(180deg);
}


// /******* ACCORDION ********/
// .accordion {
//   background-image: -moz-linear-gradient(45px 45px 45deg, circle cover, #355C7D 0%, rgb(102, 153, 197)  10%, rgba(228, 131, 149, 0.5) 100%, rgb(228, 131, 149) 95%);
//   background-image: -webkit-radial-gradient(45px 45px, circle cover,
//   #355C7D, rgb(228, 131, 149));
//   background-image: linear-gradient(45px 45px 45deg, circle cover, 
//   #355C7D 0%, rgb(102, 153, 197)  10%, rgb(228, 131, 149) 100%, 
//   rgba(228, 131, 149) 95%);
//   background-color: rgb(228, 131, 149);
//   color: #fff;
//   cursor: pointer;
//   padding: 20px;
//   width: 100%;
//   border: none;
//   text-align: center;
//   outline: none;
//   font-size: 15px;
//   transition: 0.4s;
//   overflow: hidden;
//   margin: auto;
//   border-bottom: 1px solid #FE4365;
//   line-height: 20px;
//   font-size: 17px;
//   border-radius: 5px;
// }
// .accordion:hover {
//   color: #fff;
//   font-weight: bold;
// }
// .acc_last {
//   border-bottom: 1px solid #FE4365;
// }

// .accordion:after {
//   content: '\002B';
//   color: #fff;
//   font-weight: bold;
//   float: right;
//   margin-left: 5px;
// }

// .active:after {
//   content: "\2212";
//   color: #fff;
//   font-weight: bold;
// }

// #timeline .panel,
// #timeline .panel h3
// {
//   -webkit-transition: all 1s ease;
//   -moz-transition: all 1s ease;
//   -ms-transition: all 1s ease;
//   -o-transition: all 1s ease;
//   transition: all 1s ease;
// }

// .panel {
//   padding: 0 18px;
//   background-color: white;
//   max-height: 0;
//   overflow: hidden;
//   transition: max-height 0.2s ease-out;
// }



/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #FE4365;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* Sweep To Left */
.hvr-sweep-to-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #355C7D;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-left:hover, .hvr-sweep-to-left:focus, .hvr-sweep-to-left:active {
  color: white;
}
.hvr-sweep-to-left:hover:before, .hvr-sweep-to-left:focus:before, .hvr-sweep-to-left:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #355C7D;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* Forward */
.hvr-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-forward:hover, .hvr-forward:focus, .hvr-forward:active {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}


/******* IMAGES ********/

.img-thumbnail {
  max-width: 60%;
  border-color: transparent;
}

img {
  width: 100%;
  height: auto;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.2);
}


/****** SERVICES ******/

.project {
  position: relative;
  width: 30vw;
  height: 250px;
  transform-style: preserve-3d;
  perspective: 600px;
  transition: 0.8s;
  padding: 15px;
  
}

.project .front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  border: solid rgba(255, 244, 244, 0.8) 3px;
  border-radius: 5%;
  background-color: rgba(49, 72, 104, 0.9);
  backface-visibility: hidden;
  transform:rotateX(0deg);
  transition: 0.8s;
  box-shadow: -5px 5px 10px rgba(0,0,0,0.3);
}

.project:hover .front {
  transform:rotateX(-180deg);
}

.project .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  border: solid rgb(255, 244, 244) 3px;
  border-radius: 5%;
  background-color: rgb(255, 244, 244);
  backface-visibility: hidden;
  transform:rotateX(180deg);
  transition: 0.8s;
  box-shadow: -5px 5px 10px rgba(0,0,0,0.3);
}
.project:hover .back {
  transform:rotateX(0deg);
}

.projects {
  display: grid;
  width: 45%;
  height: auto;
  margin: 0 auto;
  grid-template-rows: 1fr 1fr;
}

.text{
  grid-column: 3 / span 3;
  grid-row: 2 / span 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  margin: -20px 0;
  background-color: #314455;
  color: rgb(228, 131, 149);
  border: 2px solid rgb(228, 131, 149);
  box-shadow: -5px 5px 10px rgba(0,0,0,0.3);
}

.projects-img {
  width: 70%;
  grid-column: 2 / span 3;
  grid-row: 3 / span 1;
  box-shadow: -5px 5px 10px rgba(0,0,0,0.3);
}

.btn-readmore {
  grid-column: 3 / span 3;
  grid-row: 3 / span 1;
  justify-self: end; 
  align-self: end;
  margin: 0 15px -30px 0;
  box-shadow: -5px 5px 10px rgba(0,0,0,0.3);
}

.project-page-img {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-content: space-between;
}

 .wide {
  width: 70%;
}

.narrow {
 width: 25%;
}

/******* HELP ********/
.help div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 83px;
  height: 83px;
  font-size: 17px;
  color: #fff;
  border: 2px solid rgb(99, 148, 190);
  border-radius: 50%;
	background-image: -moz-linear-gradient(45px 45px 45deg, circle cover, #355C7D 0%, rgb(102, 153, 197)  10%, rgba(228, 131, 149, 0.5) 100%, rgb(228, 131, 149) 95%);
  background-image: -webkit-radial-gradient(45px 45px, circle cover,
  #355C7D, rgb(228, 131, 149));
  background-image: linear-gradient(45px 45px 45deg, circle cover, 
  #355C7D 0%, rgb(102, 153, 197)  10%, rgb(228, 131, 149) 100%, 
  rgba(228, 131, 149) 95%);
  background-color: rgb(228, 131, 149);
  font-size: 17px;
  color: #fff;
  box-shadow: -5px 5px 10px rgba(0,0,0,0.3);
}

.help div:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(228, 131, 149);
	background-image: -moz-linear-gradient(45px 45px 45deg, circle cover, rgb(228, 131, 149) 0%, #355C7D 100%, #355C7D 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, rgb(228, 131, 149), #355C7D);
	background-image: linear-gradient(45px 45px 45deg, circle cover, rgb(228, 131, 149) 0%, #355C7D 100%, #355C7D 95%);
  background-color: rgb(228, 131, 149);
  color: #fff;
}



@media screen and (min-width:993px) and (max-width:1200px){
  .header-fix {
    width: 80vw;
    margin-top: 20%;
  } 
  .inbox {width: 75%;}
  .users-list {
    width: 25%;
  }
  .bio {
    width: 90%;
  }
  .main {
    width: 90%;
  }
  .project {
    width: 40vw;
  }
  .bg {
    width: 30%;
  }
  
.card {
  width: 27%;
}
}

@media all and (max-width:992px){
  /******* SIDEBAR ********/
.openbtn {
  z-index: 1;
  font-size: 1.5rem;
}
.header-fix {
  width: 80vw;
  margin-top: 25%;
} 
.sidebar {
  height: 100vh;
  width: 0;
  border-radius: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding: 0px !important;
}

.sidebar .nav-link {
  text-decoration: none;
  margin: 30px 0;
  font-size: 2rem;
  color: #FE4365;
  display: block;
  transition: 0.3s;
}

.sidebar .nav-link:hover {
  color: #355C7D !important;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 3%;
  font-size: 3rem;
  color: #FE4365;
  padding: 0 !important;
}
.sidebar .closebtn:hover {
 color: #355C7D;
}
.side-nav {
  padding: 0 !important;
}
  /* .{padding-top: 0px !important;} */
  .inbox {width: 75%;}
  #services {
    height: auto;
  }
  .main {
    width: 100%;
  }
  .section-footer {
    height: 40vh;
  }
.promo {
  width: 70%;
}
.bio {
  width: 90%;
}
.footer-upper h3 {
  font-size: 24px;
  padding-bottom: 5px;
}
.footer-upper h5 {
  font-size: 20px;
  padding-bottom: 5px;
}
.project {
  width: 50vw;
}
.btn {
  padding: 0.1rem 0.2rem !important;
}
.bg {
  width: 30%;
}
.card {
  width: 40%;
}
}

@media screen and (min-width:601px) and (max-width:770px){
  .container {
    height: 90px; 
  }
  .header-fix {
    width: 90vw;
    margin-top: 30%;
  } 
  .header-fix h1 {
    font-size: 4.5rem;
  } 
  .section-footer {
    height: 40vh;
  }
  .footer-bottom div {
    width: 40%;
    margin-left: 8% !important;
  }
  .sidebar {
    padding-top: 10px;
  }
  .sidebar a {
    font-size: 18px;
    padding: 8px 20px 8px 10px;
  }
  .sidebar .closebtn {
    right: 4%;
  }
  .main {
    width: 100%;
  }
  #services {
    height: auto;
  }
  .bio {
    width: 90%;
  }
  .inbox {width: 75%;}
  .img {
    flex-direction: column;
  }
  img {
    width: 100%;
  }
  .wide {
    width: 100%;
  }
  .narrow {
    width: 40%;
    height: 280px;
   margin: 0 auto;
  }
.promo {
  width: 70%;
}
.footer-upper h3 {
  font-size: 24px;
  padding-bottom: 5px;
}
.footer-upper h5 {
  font-size: 20px;
  padding-bottom: 5px;
}
.centered {
  padding: 5px;
  padding: 5px 50px;
}
.project {
  width: 60%;
}
.projects {
  width: 70%;
}
.btn {
  padding: 0.2rem 0.4rem !important;
}
.bg {
  width: 50%;
  margin: 10px auto !important;
}
.cards {
  width: 70%;
  margin: 10px auto !important;
}
}

@media screen and (min-width:401px) and (max-width:600px){
  .container {
    height: 90px; 
  }
  .header-fix {
    width: 100vw;
    margin-top: 40%;
  } 
  .header-fix h1 {
    font-size: 4rem;
  } 
  .header-fix h3 {
    font-size: 1.3rem;
  } 
  .sidebar {padding-top: 10px;}
  .sidebar a {font-size: 18px;}
  .sidebar .closebtn {
    right: 5%;
  }
  .main {
    width: 100%;
    padding: 0 !important;
  }
  .section-footer {
    height: 40vh;
  }
  .footer-upper h1 {
    font-size: 2.5rem;
  } 
  
  .footer-upper .button {
    padding: 0.4rem;
    width: 10rem;
    font-size: 0.9rem;
  }
  .footer-bottom div {
    width: 40%;
  }
  #services {
    height: auto;
  }

  .inbox {width: 100%;}

  .skill {
    flex-direction: column;
  }
  .skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-right: none;
    border-bottom: 1px solid #FE4365;
  }
  .list {
    width: 100%;
    margin-left: 0px;
  }
  .list li {
    text-align: center;
  }

  .img {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  img {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  .wide {
    width: 100%;
  }
  .narrow {
  width: 40%;
  height: 250px;
  margin: 0 auto;
  }
.promo {
  width: 70%;
}
.sidebar a {
  padding: 8px 20px 8px 10px;
}
.footer-upper h3 {
  font-size: 24px;
  padding-bottom: 5px;
}
.footer-upper h5 {
  font-size: 20px;
  padding-bottom: 5px;
}
.centered {
  padding: 5px 20px;
}
.project {
  width: 90%;
}
.projects {
  width: 80%;
}
.help div {
  width: 65px;
  height: 65px;
  font-size: 13px;
}
.btn {
  padding: 0.2rem 0.4rem !important;
}
.bg {
  width: 50%;
  margin: 10px auto !important;
}
.bg p{
  padding: 0 !important;
}
.cards {
  width: 70%;
  margin: 10px auto !important;
}
}

@media all and (max-width:400px){
  .container {
    height: 90px; 
  }
  .header-fix {
    width: 100vw;
  } 
  .header-fix h1 {
    font-size: 2.3rem;
  } 
  .header-fix h3 {
    font-size: 1rem;
  } 
  .sidebar {padding-top: 10px;}
  .sidebar a {font-size: 18px;}
  .sidebar .closebtn {
    right: 7%;
  }
  .main {
    padding: 0px !important;
  }

  .section-footer {
    height: 40vh;
  }
  .footer-upper h1 {
    font-size: 2rem;
  } 
  .footer-upper .button {
    padding: 0.3rem;
    width: 9rem;
    font-size: 0.9rem;
  }
  .footer-bottom div {
    width: 40%;
  }

  .inbox {width: 100%;}

  .skill {
    flex-direction: column;
  }
  .skills {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-right: none;
    border-bottom: 1px solid #FE4365;
  }
  .list {
    width: 100%;
    margin-left: 0px;
  }
  .list li {
    text-align: center;
  }

  .img {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .wide {
    width: 100%;
  }
  .narrow {
    width: 40%;
    height: 150px;
    margin: 0 auto;
    }
  .help div{
    width: 60px;
    height: 60px;
    font-size: 12px;
}
.promo {
  width: 70%;
}
.sidebar a {
  padding: 8px 20px 8px 10px;
}
.footer-upper h3 {
  font-size: 24px;
  padding-bottom: 5px;
}
.footer-upper h5 {
  font-size: 20px;
  padding-bottom: 5px;
}
.centered {
  padding: 5px;
}
.project {
  width: 90%;
  height: 200px;
}
.projects {
  width: 90%;
}
.btn {
  padding: 0.2rem 0.4rem !important;
}
.bg {
  width: 50%;
  margin: 10px auto !important;
}
.bg p {
  padding: 0 !important;
}
.cards {
  width: 70%;
  margin: 10px auto !important;
}
}
