/***** HEADER *****/

.section {
  width: 100%;
  height: 100vh;
  background-image: url("/images/header_img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.section-blur {
  background: rgba(228, 204, 213, 0.2);
  height: 100%;
  width: 100%;
}
.section_all {
  width: 100%;
  height: 40vh;
  background-image: url("/images/header_img.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 6px solid $grey;
}
.title-pages {
  font-family: 'Rajdhani', sans-serif;
  color: $grey;
  font-size: 5rem;
  text-transform: uppercase;
  margin-bottom: -30px !important;
}

/***** NAVBAR *****/

.header-fix {
  width: 80vw;
  margin-top: 15%;
}

.navbar {
  position: relative;
  z-index: 100;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 3px 5px rgba(254, 67, 101, 0.5);
  background-color: $bg-light;
}

.nav-link-fixed {
  color: $strong-pink !important;
}

.nav-link-small-fixed {
  font-size: 0.9rem;
  color: $strong-pink !important;
  background-color: $bg-light;
}
.nav-link-small-fixed:hover {
  background-color: $bg-light !important;
}

.nav-item {
  cursor: pointer;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.4rem;
}

.nav-item:hover {
  border-radius: 5px;
}

.nav-link {
  color: $strong-pink;
  font-weight: 600;
}
.nav-link:hover {
  color: $strong-pink;
}
.nav-link-small {
  font-size: 1.2rem;
  color: $strong-pink;
  font-weight: 600;
}
.nav-link-small:hover {
  background-color: $bg-light;
  color: $strong-pink;
}
.nav-page:hover{
  color: $strong-pink;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  transition: 300ms all ease;
  }
 

.fa-bars {
  color: $strong-pink;
}
.fa-bars:hover {
  color: $bg-dark;
}
.dropdown-menu {
  border-radius: 10px;
  background-color: $bg-light;
}
.mydropdowncss:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: $bg-light;
 }
 .dropdown-item {
   margin: 0 !important;
   padding: 5px 10px !important;
 }

/***** FOOTER *****/

.footer{
  flex-shrink: 0;
  background-color: $bg-dark;
  color: #fff;
  bottom: 0px;
  box-shadow: 0 -3px 5px rgba(254, 67, 101, 0.5);
}

.footer-bottom a {
  color: #fff !important;
  text-align: start;
  font-size: 1rem;
}
.footer-bottom p {
  color: #fff !important;
  text-align: start;
  font-size: 1rem;
}
.footer .fab {
  color: #fff !important;
  font-size: 1rem;
}
.footer .fab:hover {
  color: $strong-pink !important;
}
.footer-head {
  color: #fff;
}

@media screen and (min-width:993px) and (max-width:1200px){
  .header-fix {
    width: 80vw;
    margin-top: 20%;
  }
}


@media all and (max-width:992px){

  /***** HEADER *****/
  .section_all {
    border-bottom: 4px solid $grey;
  }
  .title-pages {
    font-size: 4rem;
    margin-bottom: -23px !important;
  }

  /***** NAVBAR *****/
    .header-fix {
      width: 80vw;
      margin-top: 25%;
  } 

  /***** SIDEBAR *****/
  .openbtn {
    z-index: 999;
    font-size: 1.5rem;
  }
  .sidebar {
    height: 0;
    width: 100vw;
    border-radius: 0;
    position: fixed;
    z-index: 20;
    top: 0;
    background-color: $sidebar;
    overflow: hidden;
    transition: 0.5s;
    padding: 0px !important;
  }
  .sidebar a {
    padding: 8px 20px 8px 10px;
  }
  .sidebar .fas, .fab, .far {
    color: $bg-dark !important;
    font-size: 25px;
  }
  .sidebar .nav-item {
    width: 50%;
    margin: 0 auto;
  }

  .sidebar .nav-link {
    text-decoration: none;
    font-size: 2rem;
    color: $strong-pink;
    transition: 0.3s;
  }

  .sidebar .nav-link-small-sidebar {
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.5rem;
    font-weight: 600;
    color: $strong-pink !important;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 3%;
    font-size: 3rem;
    color: $strong-pink;
    padding: 0 !important;
  }
  .sidebar .closebtn:hover {
  color: $bg-dark;
  }

  .side-nav {
    padding: 0 !important;
  }
}

@media screen and (min-width:601px) and (max-width:770px){

/***** HEADER *****/
  .title-pages {
    font-size: 3.5rem;
    margin-bottom: -22px !important;
  }
  .section_all {
    border-bottom: 4px solid $grey;
  }
  .header-fix {
    width: 90vw;
    margin-top: 30%;
  } 
  .header-fix h1 {
    font-size: 4.5rem;
  } 

  /***** SIDEBAR *****/
  .sidebar .closebtn {
      right: 4%;
    }

  /***** FOOTER *****/
  .section-footer {
    height: 40vh;
  }
  .footer-bottom div {
    width: 40%;
    margin-left: 5% !important;
  }
  
}


@media screen and (min-width:401px) and (max-width:600px){
  /***** HEADER *****/
  .section_all {
    border-bottom: 3px solid $grey;
  }
  .header-fix {
    width: 100vw;
    margin-top: 40%;
  } 
  .header-fix h1 {
    font-size: 4rem;
  } 
  .header-fix h3 {
    font-size: 1.3rem;
  } 
  .title-pages {
    font-size: 3rem;
    margin-bottom: -19px !important;
  }

  /***** SIDEBAR *****/
  .sidebar .closebtn {
    right: 5%;
  }
}

@media all and (max-width:400px){
  /***** HEADER *****/
  .section_all {
    border-bottom: 3px solid $grey;
  }
  .header-fix {
    width: 100vw;
  } 
  .header-fix h1 {
    font-size: 2.3rem;
  } 
  .header-fix h3 {
    font-size: 1rem;
  } 
  .title-pages {
    font-size: 3rem;
    margin-bottom: -20px !important;
  }
  

  /***** SIDEBAR *****/
  .sidebar {padding-top: 10px;}
  .sidebar a {font-size: 18px;}
  .sidebar .closebtn {
    right: 7%;
  }

  /***** FOOTER *****/
  .footer-bottom div {
    width: 40%;
    margin-left: 5% !important;
  }
}