.footer-upper{
  position: relative;
  padding: 0px;
  object-fit: cover;
  width: 100%;
  height: 60vh;
  background-color: $light-pink;
  /* -webkit-filter: blur(0.5px);
  filter: blur(0.5px); */
}

.footer-upper h1 {
  font-size: 3rem;
  color: #fff;
  position:absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
} 

.split.center {
  position: absolute;
  width: 33.3%;
  height: 100%;
  overflow: hidden;
  left: 33.3%;
  background-color: $light-pink;
  transition: 1000ms all ease-in-out;
  z-index: 0;
}

.split.left {
  position: absolute;
  width: 33.3%;
  height: 100%;
  overflow: hidden;
  left: 0;
  background-color: $bg-light;
  transition: 1000ms all ease-in-out;
  z-index: 2;
}

.split.right {
  position: absolute;
  width: 33.3%;
  height: 100%;
  overflow: hidden;
  right: 0;
  background-color: $grey;
  ; 
  transition: 1000ms all ease-in-out;
  z-index: 2;
}

.hover-left .left {
  width: 40%;
}
.hover-right .right {
   width: 40%;
}
.hover-center .center {
  width: 33.3%;
  z-index: 3;
  transition: 1000ms all ease-in-out;
}

.hover-center .left {
  width: 30%;
}

.hover-center .right {
  width: 30%;
}

@media all and (max-width:900px){

  .footer-upper{
    width: 100%;
    height: auto;
    background-color: $bg-light;
    padding: 20px;
  }

  .split {
    padding: 30px;
  }

  .split.center {
    position: relative;
    width: 80%;
    height: auto;
    left: 0;
    margin: 20px auto;
  }
  
  .split.left {
    position: relative;
    width: 80%;
    height: auto;
    left: 0;
    margin: 0 auto 20px auto;
    border: solid $very-light-pink 10px;
  }
  
  .split.right {
    position: relative;
    width: 80%;
    height: auto;
    left: 0;
    margin: 20px auto 0 auto;
  }
}


