// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$bg-dark: #383434;
$bg-grey: #bdb4b480;
$bg-light: #f3e9ed;

$strong-pink: #FE4365;

$light-pink: #dfb6bb;
$very-light-pink: #e9dcde;
$button: #fc5c79;
$grey: #bdb4b4;

$sidebar: rgba(243, 233, 237, 0.9);
$teal: #4dc0b5;
$cyan: #6cb2eb;
